{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andhra Grocery Menu</title>
    <link rel="stylesheet" href="{%static 'css/Andhra grocery.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <section id="Home">
        <nav>
            <div class="logo">
                <img src="{%static 'image/Gi tag.jpg'%}">
            </div>

            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Menu">Menu</a></li>
                <li><a href="#Gallary">Gallary</a></li>
                <li><a href="#Review">Review</a></li>
                <li><a href="#Order">Order</a></li>
            </ul>

            <div class="icon">
                <i><a href=""><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAATtJREFUSEvNlgEOwiAMRdlN9CZ6Ez2JehL1JHoTvYnuLeuCBGgHJEiyTBPo6y9t18F1WkMnrrOAN865Q6WDb+fczbdhAb/GQ8BrF/CtGNHAKL3WEr3zl/H3mf8amE0nBYyS5xyVnbK3GXgxNAM1R5uAUbmPKHyMEUgpbwI+hplqUN0EHIZZxOfCHQX7ByTpckZIKkLN21+fTII1AWMfKMa4b+6VCsjVfDPw2hJvCkY1j1bDOFkNBnSXLuTJlr6eajpV4FT9+mHHAVptGIVi8E+jVy4YOM3ET7ZiMJ82God1heVYDJbSsYKlxGR/MdgKTO3rBl76u/89jrXMWIKUqk5OIDEwEODcVe34M00esjTFperUc38BJpwUfO3S5rjJfrgpN7ZYHSoCY5yRtiaRfpIo5a3JO6vUNfu6gb8IxlgfT6zOAAAAAABJRU5ErkJggg=="/></a></i>
            </div>

        </nav>

        <div class="main">

            <div class="men_text">
                <h1>Get Fresh<span>Items</span><br>in a Easy Way</h1>
            </div>

            <div class="main_image">
                <img src="{%static 'image/guntur chilli2.jpg'%}">
            </div>

        </div>

        <p style="font-size: medium;">
            The specialty of <b class="andhra">Andhra Pradesh</b> GI tags lies in preserving the state's unique heritage, from traditional crafts like Uppada Sarees to agricultural products like Guntur Chilli. They ensure authenticity, protect local producers from imitation, and boost economic growth by promoting regional identity and traditional knowledge.
        </p>

        <div class="main_btn">
            <a href="">Order Now</a>
            <i class="fa-solid fa-angle-right"></i>
        </div>

    </section>



    <!--About-->

    <div class="about" id="About">
        <div class="about_main">

            <div class="image">
                <img src="{%static 'image/kondapalli Toys3.webp'%}">
            </div>

            <div class="about_text">
                <h1><span>About</span>Us</h1>
                <h3>Why Choose us?</h3>
                <p>
                    The specialty of Andhra Pradesh GI (Geographical Indication) tags lies in their representation of the region's rich cultural heritage, traditional craftsmanship, and agricultural practices. GI tags are awarded to products that have a specific origin and possess unique qualities attributable to their place of origin. For Andhra Pradesh, these tags highlight both traditional crafts and food products with deep local significance. 
                </p>
            </div>

        </div>

    </div>



    <!--Menu-->

    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>

        <div class="menu_box">
            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/kondapalli Toys2.webp'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Kondapalli toys</h2>
                    <p>
                        Kondapalli toys, handcrafted from softwood, depict rural life and mythology with vibrant colors, celebrating Andhra Pradesh's traditional artistry and culture. 
                    </p>
                    <h3>₹780.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="https://www.amazon.in/s?k=kondapalli+toys&crid=2QGQZ1HFD3RJX&sprefix=kondapalli+toys%2Caps%2C221&ref=nb_sb_noss_1" class="menu_btn">Order Now</a>
                </div>

            </div> 
            
            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/Durgi Stone carvings.jpg'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Durgistone Carvings</h2>
                    <p>
                        Durgistone carvings are intricate stone artworks, showcasing deities and mythical scenes, reflecting ancient craftsmanship and spiritual devotion beautifully.
                    </p>
                    <h3>₹9,520.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="https://www.giheritage.com/products/durgi-stone-carvings-from-gi-heritage" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/udayagiri wooden cutlery2.webp'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>wooden cutlery</h2>
                    <p>
                        Udayagiri wooden cutlery, known for its unique craftsmanship, combines traditional artistry with functionality, making it an eco-friendly, elegant choice.  
                    </p>
                    <h3>₹340.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="https://tvami.com/collections/udayagiri-cutlery?srsltid=AfmBOoowjHuesRLsX7spyfUOWiJ0rO0nf0PhfywHAhTRht1r4EGCn3y8" class="menu_btn">Order Now</a>
                </div>

            </div> 



            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/Bobbili Veena.webp'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Wooden Bobbili Veena</h2>
                    <p>
                        Bobbili Veena, a traditional Indian string instrument, features intricate craftsmanship and rich sound, embodying the musical heritage of Andhra Pradesh's Bobbili region.
                    </p>
                    <h3>₹13,000.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="https://hasthakalalustores.com/products/traditional-bobbili-veena-13-inch-long-long-necked-lute-indian-lute-bobbili-music-instrument-indian-music-instrument-show" class="menu_btn">Order Now</a>
                </div>

            </div> 

        </div> 
            
    </div>

</div>




    <!--Gallary-->

    <div class="gallary" id="Gallary">
        <h1>Our<span>Gallary</span></h1>

        <div class="gallary_image_box">
            <div class="gallary_image">
                <img src="{%static 'image/guntur chilli.jpg'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Guntur Sannam Chilli, renowned for its vibrant color and heat, is a premium spice from Andhra Pradesh, widely used in Indian cuisine and exports. 
                </p>
                <a href="/andhra_food" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/machilipatnam kalankari saree.webp'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Machilipatnam Kalamkari Sarees are exquisite hand-painted or block-printed textiles, featuring intricate designs inspired by mythology and nature, showcasing Andhra Pradesh's rich cultural heritage. 
                </p>
                <a href="/andhra_handloom" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/kakinada kaja.jpg'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Kakinada Kaja, a traditional sweet from Andhra Pradesh, features layers of crispy dough filled with sweetened khoya, offering a delightful blend of texture and flavor. 
                </p>
                <a href="/andhra_food" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/mangalagiri saree.jpg'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Mangalagiri Sarees, woven in Mangalagiri, Andhra Pradesh, are known for their lightweight fabric, vibrant colors, and traditional patterns, making them a popular choice for festive wear. 
                </p>
                <a href="/andhra_handloom" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/bandar laddu1.jpg'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Bandar Laddu, a popular sweet from Andhra Pradesh, is made from roasted chickpea flour, jaggery, and ghee, celebrated for its rich flavor and delightful texture. 
                </p>
                <a href="/andhra_food" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/venkatagiri saree2.jpg'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Venkatagiri sarees, renowned for their exquisite craftsmanship, are lightweight cotton sarees adorned with intricate motifs, embodying the rich textile heritage of Andhra Pradesh. 
                </p>
                <a href="/andhra_handloom" class="gallary_btn">Visit >>></a>
            </div>

        </div>

    </div>




    <!--Review-->

    <div class="review" id="Review">
        <h1>Customer<span>Review</span></h1>

        <div class="review_box">
            <div class="review_card">

                <div class="review_profile">
                    <img src="{%static 'image/customer review1.jpg'%}">
                </div>

                <div class="review_text">
                    <h2 class="name">Ravindra</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        The Durgistone carvings I bought are breathtaking! Each piece is detailed and unique, making my decor stand out. They beautifully showcase the artistry of the region.
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="{%static 'image/customer review5.webp'%}">
                </div>

                <div class="review_text">
                    <h2 class="name">Navya</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        Udayagiri wooden cutlery is both beautiful and functional. The craftsmanship is superb, and I appreciate the eco-friendly materials. They add elegance to my dining experience!
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="{%static 'image/customer review3.avif'%}">
                </div>

                <div class="review_text">
                    <h2 class="name">Lakshman</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        I absolutely love the Kondapalli toys! Their vibrant colors and intricate designs bring joy to my home. Perfect for gifts and a wonderful representation of traditional art!
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="{%static 'image/team6.jpg'%}">
                </div>

                <div class="review_text">
                    <h2 class="name">pravalika</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        The Bobbili Veena I purchased is stunning! The craftsmanship is exceptional, producing rich sound. It beautifully reflects my cultural heritage and enhances my music collection.
                    </p>

                </div>

            </div>

        </div>

    </div>



    <!--Order-->

    <div class="order" id="Order">
        <h1><span>Order</span>Now</h1>

        <div class="order_main">

            <div class="order_image">
                <img src="{%static 'image/order_image.png'%}">
            </div>

            <form action="#">

                <div class="input">
                    <p>Name</p>
                    <input type="text" placeholder="you name" style="color: black;">
                </div>

                <div class="input">
                    <p>Email</p>
                    <input type="email" placeholder="you email" style="color:black">
                </div>

                <div class="input">
                    <p>Number</p>
                    <input placeholder="you number" style="color: black;">
                </div>

                <div class="input">
                    <p>How Much</p>
                    <input type="number" placeholder="how many orders" style="color: black;">
                </div>

                <div class="input">
                    <p>You Order</p>
                    <input placeholder="food name" style="color: black;">
                </div>

                <div class="input">
                    <p>Address</p>
                    <input placeholder="you Address" style="color: black;">
                </div>

                <a href="#" class="order_btn">Order Now</a>

            </form>

        </div>

    </div>



    <!--Team-->

    <div class="team">
        <h1>Our<span>Team</span></h1>

        <div class="team_box">
            <div class="profile">
                <img src="{%static 'image/rw1.avif'%}">

                <div class="info">
                    <h2 class="name">Martin</h2>
                    <p class="bio"></p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="{%static 'image/rw2.avif'%}">

                <div class="info">
                    <h2 class="name">ronald</h2>
                    <p class="bio"></p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="{%static 'image/rw9.avif'%}">

                <div class="info">
                    <h2 class="name">presely</h2>
                    <p class="bio"></p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="{%static 'image/rw7.avif'%}">

                <div class="info">
                    <h2 class="name">alaina</h2>
                    <p class="bio"></p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

        </div>

    </div>



    <!--Footer-->

    <footer>
        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>India</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <p>Home</p>
                <p>About</p>
                <p>Menu</p>
                <p>Gallary</p>
            </div>

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+91 938 754 xxxx</p>
                <p>+91 743 942 xxxx</p>
                <p>geographical@gmail.com</p>
                <p>geographicalmenuitems@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Our Service</h2>
                <p>Fast Delivery</p>
                <p>Easy Payments</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>
        <br>
        <br>
        <p class="end" style="text-transform: lowercase;">Copyright ©2024-2030 Geographical Indication, Inc.All rights reserved.</p>
    </footer> 
</body>
</html>