{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andhra Food Menu</title>
    <link rel="stylesheet" href="{%static 'css/Andhra food.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <section id="Home">
        <nav>
            <div class="logo">
                <img src="{%static 'image/Gi tag.jpg'%}">
            </div>

            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Menu">Menu</a></li>
                <li><a href="#Gallary">Gallary</a></li>
                <li><a href="#Review">Review</a></li>
                <li><a href="#Order">Order</a></li>
            </ul>

            <div class="icon">
                <i><a href="/signin_temp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAATtJREFUSEvNlgEOwiAMRdlN9CZ6Ez2JehL1JHoTvYnuLeuCBGgHJEiyTBPo6y9t18F1WkMnrrOAN865Q6WDb+fczbdhAb/GQ8BrF/CtGNHAKL3WEr3zl/H3mf8amE0nBYyS5xyVnbK3GXgxNAM1R5uAUbmPKHyMEUgpbwI+hplqUN0EHIZZxOfCHQX7ByTpckZIKkLN21+fTII1AWMfKMa4b+6VCsjVfDPw2hJvCkY1j1bDOFkNBnSXLuTJlr6eajpV4FT9+mHHAVptGIVi8E+jVy4YOM3ET7ZiMJ82God1heVYDJbSsYKlxGR/MdgKTO3rBl76u/89jrXMWIKUqk5OIDEwEODcVe34M00esjTFperUc38BJpwUfO3S5rjJfrgpN7ZYHSoCY5yRtiaRfpIo5a3JO6vUNfu6gb8IxlgfT6zOAAAAAABJRU5ErkJggg=="/></a></i>
            </div>

        </nav>

        <div class="main">

            <div class="men_text">
                <h1>Get Fresh<span>Items</span><br>in a Easy Way</h1>
            </div>

            <div class="main_image">
                <img src="{%static 'image/banganapalli mango.avif'%}">
            </div>

        </div>

        <p style="font-size: medium;">
            The specialty of <b class="andhra">Andhra Pradesh</b> GI tags lies in preserving the state's unique heritage, from traditional crafts like Uppada Sarees to agricultural products like Guntur Chilli. They ensure authenticity, protect local producers from imitation, and boost economic growth by promoting regional identity and traditional knowledge.
        </p>

        <div class="main_btn">
            <a href="https://www.bigbasket.com/pd/10000298/fresho-banganapalli-mango-1-kg/">Order Now</a>
            <i class="fa-solid fa-angle-right"></i>
        </div>

    </section>



    <!--About-->

    <div class="about" id="About">
        <div class="about_main">

            <div class="image">
                <img src="{%static 'image/banganapalli mango1.avif'%}">
            </div>

            <div class="about_text">
                <h1><span>About</span>Us</h1>
                <h3>Why Choose us?</h3>
                <p>
                    The specialty of Andhra Pradesh GI (Geographical Indication) tags lies in their representation of the region's rich cultural heritage, traditional craftsmanship, and agricultural practices. GI tags are awarded to products that have a specific origin and possess unique qualities attributable to their place of origin. For Andhra Pradesh, these tags highlight both traditional crafts and food products with deep local significance. 
                </p>
            </div>

        </div>

    </div>



    <!--Menu-->

    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>

        <div class="menu_box">
            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/bandar laddu.webp'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Bandar Laddu</h2>
                    <p>
                        A famous sweet from Machilipatnam (Bandar), Andhra Pradesh, is known for its soft, crumbly texture, rich flavor, and unique traditional preparation methods.
                    </p>
                    <h3>₹300.00 /500g</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="https://www.godavarivantillu.com/products/bandar-laddu?gad_source=1&gclid=Cj0KCQjwveK4BhD4ARIsAKy6pML4NLICOwBNJOe4ebYSbjlnj6jZTRYBrP-yRD48KRmUmd3ECar6K6waAphXEALw_wcB" class="menu_btn">Order Now</a>
                </div>

            </div> 
            
            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/atreyapuram pootharekulu.jpg'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Atreyapuram putharekulu</h2>
                    <p>
                        Atreyapuram Putharekulu, also known as "paper sweet," is a delicate Andhra dessert made from rice starch, ghee, and jaggery, offering a melt-in-the-mouth experience.
                    </p>
                    <h3>₹599.00 /500g</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="https://www.godavarivantillu.com/products/athreayapuram-special-dry-fruit-putharekulu?_pos=1&_sid=adf942f98&_ss=r" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/kakinada kaja.jpg'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>kakinada Gottam kaja</h2>
                    <p>
                        Kakinada Kaja is a popular Andhra Pradesh sweet, known for its crispy layers and sugar syrup coating, offering a perfect blend of sweetness and texture.
                    </p>
                    <h3>₹320.00 /500g</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="https://www.godavarivantillu.com/products/kakinada-kaja?_pos=1&_sid=d6db7c08b&_ss=r" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/tirupathi laddu.jpg'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>tirupathi laddu</h2>
                    <p>
                        Tirupati Laddu is a sacred offering at Tirumala Venkateswara Temple, renowned for its rich taste, made from gram flour, ghee, sugar, and nuts, symbolizing devotion.
                    </p>
                    <h3>₹1075.00 /500g</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="https://www.amazon.in/Tirumala-Tirupathi-Balaji-Style-Laddu/dp/B08JGLXLNF/ref=sr_1_1?dib=eyJ2IjoiMSJ9.sdZZhMNd8g5iCfppZUc5X_84xCKP0nDISC8v-8YZ95YPBO5yp4_0YfszWBei4AoxZJPxHtjylC0D0aiDcXqLFUdGsJatXNEYA7BFP3jdWjOQozctkIIGjFBtPudSlESWNuUAfP9Cg7-ZnrqoZiR9cldy6e8DESim-coaeC94pj5vI6TjkVAi_W2khb3yYKXyrfRWsqAEeFicuke_iylLNlxh4EZgh0b5lvEdSxWrDKLvyU26CaGDs5-iGihQ0rbsEEj7ZVIKveUculFUVBM6c3QgAlho8ePBNKjsKSa4QmU.hkS9HZCgEC0SLBXTnYWFyU0IfXNb1iaQ9UCkOmyru7g&dib_tag=se&keywords=tirupati+laddu+prasadam+online&qid=1729694539&sr=8-1" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/banganapalli mango.avif'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Banganapalli Mangoes</h2>
                    <p>
                        Banganapalli Mangoes, hailing from Andhra Pradesh, are prized for their smooth texture, sweet taste, vibrant yellow color, and are popular both domestically and internationally.
                    </p>
                    <h3>₹93.00 /1kg</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="https://www.bigbasket.com/pd/10000298/fresho-banganapalli-mango-1-kg/" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/guntur chilli2.jpg'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="menu_info">
                    <h2>Guntur sannam chilli</h2>
                    <p>
                        Guntur Sannam Chilli, renowned for its vibrant color and heat, is a premium spice from Andhra Pradesh, widely used in Indian cuisine and exports.
                    </p>
                    <h3>₹132.00 /200g</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="https://www.gitagged.com/product/guntur-sannam-chilli-whole-200gms/?srsltid=AfmBOop1cj7Nirdir5yw5BD_2zUsrvZ94Nb_iiZjstJQ8qjbcZ4fyO-P" class="menu_btn">Order Now</a>
                </div>

            </div>

        </div> 
            
    </div>

</div>




    <!--Gallary-->

    <div class="gallary" id="Gallary">
        <h1>Our<span>Gallary</span></h1>

        <div class="gallary_image_box">
            <div class="gallary_image">
                <img src="{%static 'image/guntur chilli.jpg'%}">

                <h3>GI Store</h3>
                <p>
                    Guntur Sannam Chilli, renowned for its vibrant color and heat, is a premium spice from Andhra Pradesh, widely used in Indian cuisine and exports. 
                </p>
                <a href="/andhra_food" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/machilipatnam kalankari saree.webp'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Machilipatnam Kalamkari Sarees are exquisite hand-painted or block-printed textiles, featuring intricate designs inspired by mythology and nature, showcasing Andhra Pradesh's rich cultural heritage. 
                </p>
                <a href="/andhra_handloom" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/Durgi Stone Carvings1.jpg'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Durgi Stone Carvings, originating from Durgi village in Andhra Pradesh, feature intricate sculptures and figures, showcasing traditional craftsmanship and cultural heritage through exquisite stone artistry. 
                </p>
                <a href="/andhra_grocery" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/mangalagiri saree.jpg'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Mangalagiri Sarees, woven in Mangalagiri, Andhra Pradesh, are known for their lightweight fabric, vibrant colors, and traditional patterns, making them a popular choice for festive wear. 
                </p>
                <a href="/andhra_handloom" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/Bobbili Veena.webp'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Bobbili Veena, a traditional Indian string instrument from Bobbili, Andhra Pradesh, is renowned for its melodious sound and intricate craftsmanship, integral to Carnatic music. 
                </p>
                <a href="/andhra_grocery" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/kondapalli Toys.webp'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Kondapalli Toys, crafted in Kondapalli, Andhra Pradesh, are vibrant wooden figurines, known for their intricate designs and bright colors, reflecting traditional craftsmanship and cultural stories. 
                </p>
                <a href="/andhra_grocery" class="gallary_btn">Visit >>></a>
            </div>

        </div>

    </div>




    <!--Review-->

    <div class="review" id="Review">
        <h1>Customer<span>Review</span></h1>

        <div class="review_box">
            <div class="review_card">

                <div class="review_profile">
                    <img src="{%static 'image/rw3.jpg'%}">
                </div>

                <div class="review_text">
                    <h2 class="name">Titan</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        The Tirupati Laddu is an absolute delight! Each bite is soft and flavorful, perfectly balanced with sweetness. The rich taste and aromatic ghee make it a divine treat, truly worthy of its sacred status. I could eat these all day!
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="{%static 'image/review2.jpg'%}">
                </div>

                <div class="review_text">
                    <h2 class="name">Edison</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        Banganapalli mangoes are simply the best! Their sweet, juicy flesh and smooth texture are unparalleled. I love how they melt in your mouth. Perfect for summer snacking or adding to desserts, these mangoes are a must-try!
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="{%static 'image/Review3.jpeg'%}">
                </div>

                <div class="review_text">
                    <h2 class="name">Jeter</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        Atreyapuram Putharekulu is a unique dessert that impresses with its delicate layers and subtle sweetness. The rice paper adds a fascinating texture, while the jaggery filling is just right. I wish there were more flavors available, but it’s definitely a delightful treat!
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="{%static 'image/review_3.png'%}">
                </div>

                <div class="review_text">
                    <h2 class="name">Ellie Clark</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        Kakinada Kaja is simply irresistible! These crispy, flaky pastries with their delightful syrupy sweetness are a true indulgence. Each bite offers a perfect blend of texture and flavor, making it hard to stop at just one. A must-try for anyone with a sweet tooth!
                    </p>

                </div>

            </div>

        </div>

    </div>



    <!--Order-->

    <div class="order" id="Order">
        <h1><span>Order</span>Now</h1>

        <div class="order_main">

            <div class="order_image">
                <img src="{%static 'image/order_image.png'%}">
            </div>

            <form action="#">

                <div class="input">
                    <p>Name</p>
                    <input type="text" placeholder="you name" style="color: black;">
                </div>

                <div class="input">
                    <p>Email</p>
                    <input type="email" placeholder="you email" style="color:black">
                </div>

                <div class="input">
                    <p>Number</p>
                    <input placeholder="you number" style="color: black;">
                </div>

                <div class="input">
                    <p>How Much</p>
                    <input type="number" placeholder="how many orders" style="color: black;">
                </div>

                <div class="input">
                    <p>You Order</p>
                    <input placeholder="food name" style="color: black;">
                </div>

                <div class="input">
                    <p>Address</p>
                    <input placeholder="you Address" style="color: black;">
                </div>

                <a href="#" class="order_btn">Order Now</a>

            </form>

        </div>

    </div>



    <!--Team-->

    <div class="team">
        <h1>Our<span>Team</span></h1>

        <div class="team_box">
            <div class="profile">
                <img src="{%static 'image/c1.avif'%}">

                <div class="info">
                    <h2 class="name">David</h2>
                    <p class="bio">FAMOUS CHEF FROM INDIA IN CULINARY</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="{%static 'image/c5.avif'%}">

                <div class="info">
                    <h2 class="name">KIARA</h2>
                    <p class="bio">INDIA'S YOUNGEST EXECUTIVE CHEF.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="{%static 'image/c7.avif'%}">

                <div class="info">
                    <h2 class="name">Jacob</h2>
                    <p class="bio">Jacob is an Indian celebrity chef, restaurateur.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="{%static 'image/c2.avif'%}">

                <div class="info">
                    <h2 class="name">Thomas</h2>
                    <p class="bio">INDIA'S YOUNGEST EXECUTIVE CHEF.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

        </div>

    </div>



    <!--Footer-->

    <footer>
        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>India</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <p>Home</p>
                <p>About</p>
                <p>Menu</p>
                <p>Gallary</p>
            </div>

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+91 938 754 xxxx</p>
                <p>+91 743 942 xxxx</p>
                <p>geographical@gmail.com</p>
                <p>geographicalmenuitems@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Our Service</h2>
                <p>Fast Delivery</p>
                <p>Easy Payments</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>
        <br>
        <br>
        <p class="end" style="text-transform: lowercase;">Copyright ©2024-2030 Geographical Indication, Inc.All rights reserved.</p>
    </footer> 
</body>
</html>