{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andhra Handloom Menu</title>
    <link rel="stylesheet" href="{%static 'css/Andhra handloom.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <section id="Home">
        <nav>
            <div class="logo">
                <img src="{%static 'image/Gi tag.jpg'%}">
            </div>

            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Menu">Menu</a></li>
                <li><a href="#Gallary">Gallary</a></li>
                <li><a href="#Review">Review</a></li>
                <li><a href="#Order">Order</a></li>
            </ul>

            <div class="icon">
                <i><a href=""><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAATtJREFUSEvNlgEOwiAMRdlN9CZ6Ez2JehL1JHoTvYnuLeuCBGgHJEiyTBPo6y9t18F1WkMnrrOAN865Q6WDb+fczbdhAb/GQ8BrF/CtGNHAKL3WEr3zl/H3mf8amE0nBYyS5xyVnbK3GXgxNAM1R5uAUbmPKHyMEUgpbwI+hplqUN0EHIZZxOfCHQX7ByTpckZIKkLN21+fTII1AWMfKMa4b+6VCsjVfDPw2hJvCkY1j1bDOFkNBnSXLuTJlr6eajpV4FT9+mHHAVptGIVi8E+jVy4YOM3ET7ZiMJ82God1heVYDJbSsYKlxGR/MdgKTO3rBl76u/89jrXMWIKUqk5OIDEwEODcVe34M00esjTFperUc38BJpwUfO3S5rjJfrgpN7ZYHSoCY5yRtiaRfpIo5a3JO6vUNfu6gb8IxlgfT6zOAAAAAABJRU5ErkJggg=="/></a></i>
            </div>

        </nav>

        <div class="main">

            <div class="men_text">
                <h1>Get Fresh<span>Sarees</span><br>in a Easy Way</h1>
            </div>

            <div class="main_image">
                <img src="{%static 'image/venkatagiri saree.webp'%}">
            </div>

        </div>

        <p style="font-size: medium;">
            The specialty of <b class="andhra">Andhra Pradesh</b> GI tags lies in preserving the state's unique heritage, from traditional crafts like Uppada Sarees to agricultural products like Guntur Chilli. They ensure authenticity, protect local producers from imitation, and boost economic growth by promoting regional identity and traditional knowledge.
        </p>

        <div class="main_btn">
            <a href="https://www.flipkart.com/search?q=venkatagiri+cotton+saree&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_1_18_na_na_ps&otracker1=AS_Query_OrganicAutoSuggest_1_18_na_na_ps&as-pos=1&as-type=HISTORY&suggestionId=venkatagiri+cotton+saree&requestId=743f3028-e610-498d-b3f8-29e27656e345">Order Now</a>
            <i class="fa-solid fa-angle-right"></i>
        </div>

    </section>



    <!--About-->

    <div class="about" id="About">
        <div class="about_main">

            <div class="image">
                <img src="{%static 'image/venkatagiri saree3.jpg'%}">
            </div>

            <div class="about_text">
                <h1><span>About</span>Us</h1>
                <h3>Why Choose us?</h3>
                <p>
                    The specialty of Andhra Pradesh GI (Geographical Indication) tags lies in their representation of the region's rich cultural heritage, traditional craftsmanship, and agricultural practices. GI tags are awarded to products that have a specific origin and possess unique qualities attributable to their place of origin. For Andhra Pradesh, these tags highlight both traditional crafts and food products with deep local significance. 
                </p>
            </div>

        </div>

    </div>



    <!--Menu-->

    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>

        <div class="menu_box">
            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/machilipatnam kalankari saree1.webp'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Machilipatnam kalankari</h2>
                    <p>
                        Machilipatnam Kalamkari Sarees are hand-painted, known for intricate mythological motifs and natural dyes, reflecting Andhra Pradesh's rich artistic heritage.
                    </p>
                    <h3>₹999.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="https://www.myntra.com/machilipatnam-kalamkari-sarees?rawQuery=machilipatnam%20kalamkari%20sarees" class="menu_btn">Order Now</a>
                </div>

            </div> 
            
            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/mangalagiri saree2.webp'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Mangalagiri Sarees</h2>
                    <p>
                        Mangalagiri Sarees are known for their lightweight, fine cotton fabric and vibrant colors, featuring simple yet elegant borders, perfect for traditional and casual wear.
                    </p>
                    <h3>₹1325.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="https://www.myntra.com/mangalagiri-saree?rawQuery=Mangalagiri%20Saree" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/venkatagiri saree2.jpg'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>venkatagiri Sarees</h2>
                    <p>
                        Venkatagiri Sarees, from Andhra Pradesh, are known for their fine weaving, soft texture, and luxurious zari work, making them popular for festive and bridal wear.
                    </p>
                    <h3>₹1484.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="https://www.myntra.com/venkatagiri-pattu?extra_search_param=isautosuggestentry%3atrue%3a%3aid%3a2297-venkatagiri-pattu&rawQuery=Venkatagiri%20Pattu" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{%static 'image/uppada sarees2.jpg'%}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Uppada Silk Sarees</h2>
                    <p>
                        Uppada Sarees are renowned for their lightweight texture, intricate Jamdani weaving, and elegant silk-cotton blend, making them perfect for festive occasions.
                    </p>
                    <h3>₹849.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="https://www.myntra.com/uppada-saree?rawQuery=Uppada%20Saree" class="menu_btn">Order Now</a>
                </div>

            </div> 

        </div> 
            
    </div>

</div>




    <!--Gallary-->

    <div class="gallary" id="Gallary">
        <h1>Our<span>Gallary</span></h1>

        <div class="gallary_image_box">
            <div class="gallary_image">
                <img src="{%static 'image/guntur chilli.jpg'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Guntur Sannam Chilli, renowned for its vibrant color and heat, is a premium spice from Andhra Pradesh, widely used in Indian cuisine and exports. 
                </p>
                <a href="/andhra_food" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/machilipatnam kalankari saree.webp'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Machilipatnam Kalamkari Sarees are exquisite hand-painted or block-printed textiles, featuring intricate designs inspired by mythology and nature, showcasing Andhra Pradesh's rich cultural heritage. 
                </p>
                <a href="/andhra_handloom" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/Durgi Stone carvings1.jpg'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Durgi Stone Carvings, originating from Durgi village in Andhra Pradesh, feature intricate sculptures and figures, showcasing traditional craftsmanship and cultural heritage through exquisite stone artistry. 
                </p>
                <a href="/andhra_grocery" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/mangalagiri saree.jpg'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Mangalagiri Sarees, woven in Mangalagiri, Andhra Pradesh, are known for their lightweight fabric, vibrant colors, and traditional patterns, making them a popular choice for festive wear. 
                </p>
                <a href="/andhra_handloom" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/Bobbili Veena.webp'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Bobbili Veena, a traditional Indian string instrument from Bobbili, Andhra Pradesh, is renowned for its melodious sound and intricate craftsmanship, integral to Carnatic music. 
                </p>
                <a href="/andhra_grocery" class="gallary_btn">Visit >>></a>
            </div>

            <div class="gallary_image">
                <img src="{%static 'image/kondapalli Toys.webp'%}" height="315px">

                <h3>GI Store</h3>
                <p>
                    Kondapalli Toys, crafted in Kondapalli, Andhra Pradesh, are vibrant wooden figurines, known for their intricate designs and bright colors, reflecting traditional craftsmanship and cultural stories. 
                </p>
                <a href="/andhra_grocery" class="gallary_btn">Visit >>></a>
            </div>

        </div>

    </div>




    <!--Review-->

    <div class="review" id="Review">
        <h1>Customer<span>Review</span></h1>

        <div class="review_box">
            <div class="review_card">

                <div class="review_profile">
                    <img src="{%static 'image/saree review1.webp'%}">
                </div>

                <div class="review_text">
                    <h2 class="name">Bhavya</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        The intricate hand-painted designs on my Machilipatnam Kalamkari saree are stunning! The natural dyes and detailed patterns make it a unique and beautiful piece
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="{%static 'image/saree review4.avif'%}">
                </div>

                <div class="review_text">
                    <h2 class="name">Aaradhya</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        I love my Mangalagiri saree! The fabric is so light and comfortable, and the vibrant colors with the simple border make it perfect for any occasion.
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="{%static 'image/saree review2.avif'%}">
                </div>

                <div class="review_text">
                    <h2 class="name">Akshara</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        The Uppada saree is incredibly lightweight and beautifully woven. The Jamdani patterns are intricate and the saree drapes so gracefully. Perfect for festive wear!
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="{%static 'image/saree review6.avif'%}">
                </div>

                <div class="review_text">
                    <h2 class="name">Aadhya</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        The Venkatagiri saree I bought is simply gorgeous! Its soft texture and rich zari work make it perfect for weddings and special events. Truly elegant!.
                    </p>

                </div>

            </div>

        </div>

    </div>



    <!--Order-->

    <div class="order" id="Order">
        <h1><span>Order</span>Now</h1>

        <div class="order_main">

            <div class="order_image">
                <img src="{%static 'image/order_image.png'%}">
            </div>

            <form action="#">

                <div class="input">
                    <p>Name</p>
                    <input type="text" placeholder="you name" style="color: black;">
                </div>

                <div class="input">
                    <p>Email</p>
                    <input type="email" placeholder="you email" style="color:black">
                </div>

                <div class="input">
                    <p>Number</p>
                    <input placeholder="you number" style="color: black;">
                </div>

                <div class="input">
                    <p>How Much</p>
                    <input type="number" placeholder="how many orders" style="color: black;">
                </div>

                <div class="input">
                    <p>You Order</p>
                    <input placeholder="food name" style="color: black;">
                </div>

                <div class="input">
                    <p>Address</p>
                    <input placeholder="you Address" style="color: black;">
                </div>

                <a href="#" class="order_btn">Order Now</a>

            </form>

        </div>

    </div>



    <!--Team-->

    <div class="team">
        <h1>Our<span>Team</span></h1>

        <div class="team_box">
            <div class="profile">
                <img src="{%static 'image/team3.jpg'%}">

                <div class="info">
                    <h2 class="name">Priyanka</h2>
                    <p class="bio">FAMOUS DESIGNER</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="{%static 'image/team2.jpg'%}">

                <div class="info">
                    <h2 class="name">ANKITHA</h2>
                    <p class="bio">INDIA'S YOUNGEST DESIGNER.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="{%static 'image/team4.avif'%}">

                <div class="info">
                    <h2 class="name">ANJALI</h2>
                    <p class="bio">FAMOUS DESIGNER</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="{%static 'image/team6.jpg'%}">

                <div class="info">
                    <h2 class="name">JYOTHI</h2>
                    <p class="bio">FAMOUS DESIGNER</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

        </div>

    </div>



    <!--Footer-->

    <footer>
        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>India</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <p>Home</p>
                <p>About</p>
                <p>Menu</p>
                <p>Gallary</p>
            </div>

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+91 938 754 xxxx</p>
                <p>+91 743 942 xxxx</p>
                <p>geographical@gmail.com</p>
                <p>geographicalmenuitems@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Our Service</h2>
                <p>Fast Delivery</p>
                <p>Easy Payments</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>
        <br>
        <br>
        <p class="end" style="text-transform: lowercase;">Copyright ©2024-2030 Geographical Indication, Inc.All rights reserved.</p>
    </footer> 
</body>
</html>